---
import PageLayout from '../layouts/layout.astro'
---

<PageLayout title="Homepage">
	<div id="title_block" class="text-white py-10">
		<h1 class="text-center text-7xl pb-10"> Zili Discord Bot </h1>
		<p class="text-center"> The ultimate all-purpose Discord bot! </p>
	</div>
</PageLayout>
